body {
  margin: 0 auto;
  height: 100%;
}

.IdCard {
  border: 2px solid black;
  width: 30%;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  padding: 1%;
}

.IdCard img {
  width: 50%;
  height: 50%;
  padding: 1%;
}
